*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --colorPrimary: hsl(12, 98%, 52%);
  --colorBg: hsl(210, 50%, 4%);
  --colorBg2: hsl(210, 26%, 11%);
  --colorBg3: hsl(210, 26%, 11%, 0.5);
  --colorWhite: #fff;
  --colorLight: #dbdbdba2;

  --transition: 0.4 ease;
}

body {
  background: var(--colorBg);
  overflow-x: hidden;
  line-height: 1.7;
  color: var(--colorWhite);
  background-image: url("../src/assets/bg.png");
}

.container {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--colorWhite);
  line-height: 1.3;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--colorWhite);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  text-align: center;
  width: fit-content;
  margin: 0;
  font-weight: 500;
  padding: 0.9rem, 2rem;
  border: 2px solid var(--colorPrimary);
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  background: var(--colorPrimary);
  color: var(--colorWhite);
  border-radius: 0.8rem;
}

.btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--colorPrimary);
  transform-origin: var(--transition);
}

.btn:hover::after {
  width: 0;
}

.btn-em {
  background: transparent;
  margin: 1rem auto;
  padding: 0 .5rem;
}

.btn-em::after {
  width: 0;
  left: 0;
  transition: var(--transition);
}

.btn-em:hover::after{
  width: 100%;

}

.btn-sm{
  padding: .5rem 1rem;
  font-size: .9rem;
}

section{
  margin-top: 8rem;
  padding: 4rem 0;
}

@media (max-width:1024px){
  h1{
    font-size: 2rem;

  }

  h2{
    font-size: 1.6rem;
  }
}