.galleryContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.galleryContainer img{
    height: 320px;
    border-radius: .8rem;
    overflow: hidden;
}
.galleryContainer img:hover{
    border:3px solid var(--colorPrimary);
}

@media (max-width:1024px){
    .galleryContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:600px){
    .galleryContainer{
        grid-template-columns: 1fr;
    }
}